<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.willy.projet_ihm_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:exported="true"
         >

        <activity android:name=".interactive_map.MapActivity">
            android:label="Projet_IHM_android"
            android:theme="@style/AppTheme.NoActionBar"
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
            </intent-filter>
        </activity>
    </application>

</manifest>
